@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-10 py-2 my-0 tracking-widest uppercase border-2 border-black hover:bg-black hover:text-white ease-in-out duration-300;
  }
  .category-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
  }
  .category-layer {
    @apply absolute top-0 bottom-0 right-0 left-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
  }  
}

#hero {  
  background-image: url('../../public/images/compass.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
}

@media(max-width: 576px) {
  #hero {  
    background-position: center;
  }
}
